<a href="https://colab.research.google.com/github/kvt0012/DS_EX_W6/blob/master/Copy_of_Copy_of_Assignment_3_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Bag of Words Meets Bags of Popcorn](https://www.kaggle.com/c/word2vec-nlp-tutorial/data)
======

## Data Set

The labeled data set consists of 50,000 IMDB movie reviews, specially selected for sentiment analysis. The sentiment of reviews is binary, meaning the IMDB rating < 5 results in a sentiment score of 0, and rating >=7 have a sentiment score of 1. No individual movie has more than 30 reviews. The 25,000 review labeled training set does not include any of the same movies as the 25,000 review test set. In addition, there are another 50,000 IMDB reviews provided without any rating labels.

## File descriptions

labeledTrainData - The labeled training set. The file is tab-delimited and has a header row followed by 25,000 rows containing an id, sentiment, and text for each review.
## Data fields

* id - Unique ID of each review
* sentiment - Sentiment of the review; 1 for positive reviews and 0 for negative reviews
* review - Text of the review

## Objective
Objective of this dataset is base on **review** we predict **sentiment** (positive or negative) so X is **review** column and y is **sentiment** column

## 1. Load Dataset
we only forcus on "labeledTrainData.csv" file

Let's first of all have a look at the data.

[Click here to download dataset](https://s3-ap-southeast-1.amazonaws.com/ml101-khanhnguyen/week3/assignment/labeledTrainData.tsv)

In [0]:
# Import pandas, numpy
import numpy as np 
import pandas as pd

In [0]:
# Read dataset with extra params sep='\t', encoding="latin-1"
link ='https://s3-ap-southeast-1.amazonaws.com/ml101-khanhnguyen/week3/assignment/labeledTrainData.tsv'
lbl = pd.read_csv(link,sep='\t',encoding='latin-1')

In [0]:
lbl.head(5)

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [0]:
lbl['review']

0        With all this stuff going down at the moment w...
1        \The Classic War of the Worlds\" by Timothy Hi...
2        The film starts with a manager (Nicholas Bell)...
3        It must be assumed that those who praised this...
4        Superbly trashy and wondrously unpretentious 8...
5        I dont know why people think this is such a ba...
6        This movie could have been very good, but come...
7        I watched this video at a friend's house. I'm ...
8        A friend of mine bought this film for Â£1, and...
9        <br /><br />This movie is full of references. ...
10       What happens when an army of wetbacks, towelhe...
11       Although I generally do not like remakes belie...
12       \Mr. Harvey Lights a Candle\" is anchored by a...
13       I had a feeling that after \Submerged\", this ...
14       note to George Litman, and others: the Mystery...
15       Stephen King adaptation (scripted by King hims...
16       `The Matrix' was an exciting summer blockbuste...
17       Ulli Lommel's 1980 film 'The Boogey Man' is no...
18       This movie is one among the very few Indian mo...
19       Most people, especially young people, may not ...
20       \Soylent Green\" is one of the best and most d...
21       Michael Stearns plays Mike, a sexually frustra...
22       This happy-go-luck 1939 military swashbuckler,...
23       I would love to have that two hours of my life...
24       The script for this movie was probably found i...
25       Looking for Quo Vadis at my local video store,...
26       Note to all mad scientists everywhere: if you'...
27       What the ........... is this ? This must, with...
28       Intrigued by the synopsis (every gay video the...
29       Would anyone really watch this RUBBISH if it d...
                               ...
24970    Red Rock West (1993)<br /><br />Nicolas Cage g...
24971    what can i say?, ms Erika Eleniak is my favori...
24972    The spoiler warning is for those people who wa...
24973    What do you call a horror story without horror...
24974    Though not a horror film in the traditional se...
24975    This was what black society was like before th...
24976    They probably should have called this movie Th...
24977    Attractive Marjorie(Farrah Fawcett)lives in fe...
24978    Vaguely reminiscent of great 1940's westerns, ...
24979    I admit I had no idea what to expect before vi...
24980    To me, the final scene, in which Harris respon...
24981    This is by far the funniest short made by the ...
24982    To be a Buster Keaton fan is to have your hear...
24983    I was one of those \few Americans\" that grew ...
24984    Visually disjointed and full of itself, the di...
24985    this movie had more holes than a piece of swis...
24986    Last November, I had a chance to see this film...
24987    First off, I'd like to make a correction on an...
24988    While originally reluctant to jump on the band...
24989    I heard about this movie when watching VH1's \...
24990    I've never been huge on IMAX films. They're co...
24991    Steve McQueen has certainly a lot of loyal fan...
24992    Sometimes you wonder how some people get fundi...
24993    I am a student of film, and have been for seve...
24994    Unimaginably stupid, redundant and humiliating...
24995    It seems like more consideration has gone into...
24996    I don't believe they made this film. Completel...
24997    Guy is a loser. Can't get girls, needs to buil...
24998    This 30 minute documentary BuÃ±uel made in the...
24999    I saw this movie as a child and it broke my he...
Name: review, Length: 25000, dtype: object

In [0]:
lbl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
id           25000 non-null object
sentiment    25000 non-null int64
review       25000 non-null object
dtypes: int64(1), object(2)
memory usage: 586.0+ KB

In [0]:
lbl.describe()

         sentiment
count  25000.00000
mean       0.50000
std        0.50001
min        0.00000
25%        0.00000
50%        0.50000
75%        1.00000
max        1.00000

## 2. Preprocessing

In [0]:
import nltk

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:
from nltk.corpus import stopwords
from collections import Counter
# Let's apply the example above to count words in our SentimentText
# Your code here
stop = stopwords.words('english')
lbl_reduced=Counter()
for word in lbl['review'].str.cat(sep=' ').split():
     if word not in stop:
        lbl_reduced[word]+=1

In [0]:
print(lbl_reduced.most_common(10))

[('I', 65973), ('/><br', 50935), ('The', 33762), ('movie', 30496), ('film', 27394), ('one', 20685), ('like', 18133), ('This', 12279), ('would', 11922), ('good', 11435)]

In [0]:
# stop words

In [0]:
# Removing special characters and "trash"
import re
def preprocessor(text):
   # Remove HTML markup
    text = re.sub('<[^>]*>', '', text)
    # Save emoticons for later appending
    emoticons = re.findall('(?::|;|=)(?:-)?(?:\)|\(|D|P)', text)
    #re.sub('(?::|;|=)(?:-)?(?:\)|\(|D|P)',' ', text.lower()) - Loại bỏ ký tự :D, :d
    # Remove any non-word character and append the emoticons,
    # removing the nose character for standarization. Convert to lower case
    text = (re.sub('[\W]+', ' ', text.lower()) + ' ' + ' '.join(emoticons).replace('-', ''))
    
    return text

In [0]:
# tokenizer and stemming
# tokenizer: to break down our twits in individual words
# stemming: reducing a word to its root
from nltk.stem import PorterStemmer
# Your code here
def tokenizer(text):    
    return text.split()
def tokenizer_porter(text):
    token = []
    # Your code here
    token=[PorterStemmer().stem(word) for word in text.split()]
    return token

In [0]:
# split the dataset in train and test
# Your code here
from sklearn.model_selection import train_test_split
X= lbl['review']
y=lbl['review']
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3)

## 3. Create Model and Train 

Using **Pipeline** to concat **tfidf** step and **LogisticRegression** step

In [0]:
# Import Pipeline, LogisticRegression, TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
tfidf = TfidfVectorizer(stop_words=stop,tokenizer=tokenizer_porter,preprocessor=preprocessor)


clf = Pipeline([('vect', tfidf),('clf', LogisticRegression(random_state=0))])
clf.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_extraction/text.py:300: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['abov', 'ani', 'becaus', 'befor', 'doe', 'dure', 'ha', 'hi', 'onc', 'onli', 'ourselv', 'themselv', 'thi', 'veri', 'wa', 'whi', 'yourselv'] not in stop_words.
  'stop_words.' % sorted(inconsistent))
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

## 4. Evaluate Model

In [0]:
# Using Test dataset to evaluate model
# classification_report
# confusion matrix
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Now apply those above metrics to evaluate your model
# Your code here
predictions = clf.predict(X_test)
print('accuracy:',accuracy_score(y_test,predictions))
print('confusion matrix:\n',confusion_matrix(y_test,predictions))
print('classification report:\n',classification_report(y_test,predictions))

## 5. Export Model

In [0]:
# Using pickle to export our trained model
import pickle
import os

pickle.dump(clf, open(os.path.join('data', 'logisticRegression.pkl'), 'wb'), protocol=4)